.gpt_container {
    border-right: 1px solid var(--color-border);
    color: var(--color-gpt);
    background: var(--color-gpt-bg);
    padding: 5px;
    min-width: 47%; 
    border: 2px solid;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
}

.gpt_container h3{
    margin-top: 10px;
}

.gpt_container p {
    margin: auto 20px 20px 20px;
}

